body {
    font-family:
        Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
        sans-serif;
    font-weight: normal;
    line-height: 1.6;
    color: #333;
    background-color: white;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1,
h2 {
    color: #2c3e50;
    line-height: 2rem;
}

.demo-container {
    background-color: #333;
    color: #eee;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    font-family:
        ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
        "DejaVu Sans Mono", monospace;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 95%;
    padding: 8px;
    border: 0 solid transparent;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    background-color: #eee;
}

.output-container {
    margin-top: 20px;
    background-color: #333;
    border: 0px solid transparent;
    border-radius: 4px;
}

.output-row {
    margin-bottom: 10px;
}

.output-label {
    font-weight: bold;
    margin-right: 10px;
}

#options {
    background-color: #eee;
    color: #333;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
}

code {
    background-color: #333;
    padding: 2px 4px;
    border-radius: 3px;
    font-family:
        ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
        "DejaVu Sans Mono", monospace;
}

pre {
    background-color: #333;
    padding: 15px;
    border-radius: 4px;
    overflow-x: auto;
}

.error {
    color: #e74c3c;
    font-weight: bold;
}

.github-corner {
    position: absolute;
    top: 0;
    right: 0;
}

footer {
    margin-top: 40px;
    text-align: center;
    color: #7f8c8d;
    font-size: 14px;
}
